<!DOCTYPE html>
<html>
<head>
  <title>Abstract</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= yield(:stylesheets) if content_for?(:stylesheets) %>
  <%= stylesheet_pack_tag 'site' %>
</head>

<body>
  <%= yield %>
  <%= yield(:javascripts) if content_for?(:javascripts) %>
</body>
</html>
